---
sitemap: false
---

$masthead-font: "Playfair Display SC", serif;
$heading-font: sans-serif;
$main-font: "Libre Baskerville";
$regular-font-size: 20px;

$heading-color: #404040;
$text-color: #454545;
$link-color: #841212;

@import "theme";
@import "colors";
@import "proof";
@import "syntax";
